@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
    background: #fff;
}

.slider {
    margin-bottom: 30px;
    position: relative;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: flex-end;
}

/* .owl-carousel .owl-stage-outer{
    overflow: visible;
} */

.slider .owl-item.active.center .slider-card {
    /* transform: scale(1.2); */
    transform: scale(1.4);
    /* transform: scalex(1.2); */
    /* transform: scaleY(2); */
    /* height: 350px; */
    /* width: 350px;    */
    margin-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
    .slider .owl-item.active.center .slider-card {
        transform: none;
    }

    .slider-card {
        transform: none;
    }
}

.slider-card {
    padding: 0px 0px;
    margin: 50px 35px 0px 35px;
    transform: scale(0.9);
    /* height: 300px; */
    /* opacity: 0.5; */
    transition: all 0.3s;
}

.owl-nav {
    display: flex;
    justify-content: flex-start;
    padding: 0 4%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    background: transparent;
    color: white;
    border: 1px solid gray;
    padding: 8px 16px !important;
    font: inherit;
    border-radius: 50%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: white;
    color: #002038;
}

.owl-theme .owl-dots {
    display: none;
}