@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
}
@font-face {
  font-family: 'BebasNeueSemiExpBold';
  src: url('/font/BebasNeuePro-SemiExpBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Shippori_Mincho ';
  src: url('/Shippori_Mincho/ShipporiMincho-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair';
  src: url('/Playfair_Displayfont/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

/* src/fonts.css */
/* 
@font-face {
  font-family: 'BebasNeueBold';
  src: url('/public/font/BebasNeuePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueBoldItalic';
  src: url('/public/font/BebasNeuePro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueBook';
  src: url('/public/font/BebasNeuePro-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueBookItalic';
  src: url('/public/font/BebasNeuePro-BookItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'BebasNeueExpandedBold';
  src: url('/public/font/BebasNeuePro-ExpandedBold.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueExpandedExtraBoldItalic';
  src: url('/public/font/BebasNeuePro-ExpandedBoldItalic.ttf') format('truetype');
} */

/* 
@font-face {
  font-family: 'FuturaExBold';
  src: url('./assets/font/FuturaCyrillicExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaBold';
  src: url('./assets/font/FuturaCyrillicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaBook';
  src: url('./assets/font/FuturaCyrillicBook.ttf') format('truetype'),
}

@font-face {
  font-family: 'FuturaDemi';
  src: url('./assets/font/FuturaCyrillicDemi.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaHeavy';
  src: url('./assets/font/FuturaCyrillicHeavy.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('./assets/font/FuturaCyrillicLight.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('./assets/font/FuturaCyrillicMedium.ttf') format('truetype');
} */

/* .importantfont {
  font-family: 'Shippori_Mincho ';
} */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


@media (max-width: 700px) {
  .smooth-scroll {
    transition: transform 0.1s ease-out;

  }
}

@media only screen and (max-width: 1024px) {

  .buttonShort {
    padding: 8px 20px !important;
  }

  .buttonLong {
    padding: 8px 80px !important;
  }

}

/* App.css */

.no-scroll {
  overflow: hidden;
}

.customheight {
  height: calc(100vh + 40px);
}

#popup-container {
  animation: fadeIn 0.3s forwards;
}

#popup-container.hidden {
  animation: fadeOut 0.3s forwards;
}

#popup-content {
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

#popup-content.hidden {
  animation: scaleDown 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}


.buttonShort {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}

.buttonLong {
  padding: 12px 80px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}

.trnasformscale {
  transition: all 0.3s ease;
}

.trnasformscale:hover {
  transform: scale(1.02);
}


/* .trnasformscale img {
  transition: all 0.3s ease;
}

.trnasformscale:hover img {
  transform: scale(1.03);
} */


.bg-container {
  position: relative;
  overflow: hidden;
}

.bg-zoom {
  transition: transform 0.5s ease;
}

.bg-container:hover .bg-zoom {
  transform: scale(1.1);
}

.bg-container:hover.bg-zoom {
  transform: scale(1.1);
}


.hover-underline-animation {
  position: relative;
  /* Adjust as needed */
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  /* Adjust the height of the line */
  bottom: -6px;
  left: 0;
  /* background-color: white; Adjust the color of the line */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after,
.active-underline::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.hover-underline-animationbm {
  position: relative;
  /* Adjust as needed */
}

.hover-underline-animationbm::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  /* Adjust the height of the line */
  bottom: -2px;
  left: 0;
  background-color: #002038;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animationbm:hover::after,
.active-underlinebm::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* Adjust the transition duration as needed */
}

.content-container.show {
  opacity: 1;
}

.widthh {
  width: fit-content;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hideSDP {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hideSDP::-webkit-scrollbar {
  display: none;
}

/* When the width is less than 1200px: show scrollbar */
@media (max-width: 1200px) {
  .scrollbar-hideSDP::-webkit-scrollbar {
    display: block;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.icon-slide {
  transition: transform 0.3s ease;
}

.row-hover:hover .icon-slide {
  transform: translateX(5px);
}

.section {
  padding: 80px 7%;
}

body {
  background-color: #F7F7F7;
}


/* Hide the default arrows */
.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
}

/* Customize the scrollbar track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* Customize the scrollbar handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #D8D8D8;
  border-radius: 10px;
}

/* Customize the scrollbar handle on hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: rgb(177, 177, 177);
}

/* Set the minimum width of the scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* for horizontal scrollbar */
}






/* Hide the default arrows */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Set the minimum width of the scrollbar */
.scrollbar-custom {
  --scrollbar-width: 10px;
  scrollbar-width: var(--scrollbar-width);
}

/* Customize the scrollbar handle on hover */
.scrollbar-custom:hover {
  scrollbar-color: #555 #f1f1f1;
}











